<?xml version = "1.0"?>
<robot xmlns:xacro = "http://www.ros.org/wiki/xacro"  name = "sakeths_robot">
    <!-- This is the main robot file. It contains all aspects of the robot (including the chassis, gazebo parameters, and control parameters). -->
    <!-- Including all parts of the robot in one xacro file-->
    <xacro:include filename = "robot_body.xacro" />
    <xacro:include filename = "gazebo_control.xacro" />

</robot>